# pandas

In [2]:
import pandas as pd
import numpy as np

In [11]:
df = pd.DataFrame(
	np.arange(0, 20).reshape(5, 4),
	index=['row1', 'row2', 'row3', 'row4', 'row5'],
	columns=['column1', 'column2', 'column3', 'column4']
)

In [12]:
df.head

<bound method NDFrame.head of       column1  column2  column3  column4
row1        0        1        2        3
row2        4        5        6        7
row3        8        9       10       11
row4       12       13       14       15
row5       16       17       18       19>

make a csv

In [13]:
df.to_csv("km.csv")

In [ ]:
df.loc['row1']

column1    0
column2    1
column3    2
column4    3
Name: row1, dtype: int64

In [17]:
df.iloc[0:3,1:2]

      column2
row1        1
row2        5
row3        9

In [19]:
# convert df in array
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [22]:
df.iloc[:,1:].shape

(5, 3)

In [24]:
df

      column1  column2  column3  column4
row1        0        1        2        3
row2        4        5        6        7
row3        8        9       10       11
row4       12       13       14       15
row5       16       17       18       19

In [23]:
df.isnull()

      column1  column2  column3  column4
row1    False    False    False    False
row2    False    False    False    False
row3    False    False    False    False
row4    False    False    False    False
row5    False    False    False    False

In [25]:
df['column1'].value_counts()

column1
0     1
4     1
8     1
12    1
16    1
Name: count, dtype: int64

In [26]:
df[['column3','column4']]

      column3  column4
row1        2        3
row2        6        7
row3       10       11
row4       14       15
row5       18       19